.work-area{
  margin-top: 10px;
  padding:20px;
  border: 2px solid teal;
  border-radius: 10px;
}

h1{
  color:teal;
  margin: 10px;
  font-family: "Tahoma";
}

h2{
  color: #cc33ff;
  margin: 10px;
  font-family: "Tamil Sangam MN";
}

p{
  margin: 20px;
}
label{
  margin-left: 20px;
  margin-right: 5px;
}
